<IfModule mod_setenvif.c>
  SetEnvIf Request_URI "\.(jpe?g|png|gif|webp)$" _image_request
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_ACCEPT} image/webp
  RewriteCond %{DOCUMENT_ROOT}/$1.$2.webp -f
  RewriteRule ^(.*)\.(jpe?g|png|gif)$ $1.$2.webp [T=image/webp]

  RewriteCond %{HTTP_ACCEPT} !image/webp
  RewriteCond %{DOCUMENT_ROOT}/$1.$2.jpg -f
  RewriteRule ^(.*)\.(webp)$ $1.$2.jpg [T=image/jpg]
</IfModule>

<IfModule mod_headers.c>
  Header append Vary Accept env=_image_request
</IfModule>

<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>